.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.un {
  grid-column: 2/4;
  grid-row: 1/2;
}

.deux {
  grid-column: 2/4;
  grid-row: 2/6;
}

.trois {
  grid-column: 1/2;
  grid-row: 1/6;
  background-color: #FFD700
}

body
{
	margin:0;
	padding:0;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: #181818;
}

header
{
	padding: 1em;
}

section
{
	display: flex;
	flex-direction: column;
	padding: 1em;
	padding-bottom: 0;
	padding-left: 2em;
}

aside
{
	height: auto;
}

aside p
{
	margin-left: 1em;
	margin-bottom: -1em;
}

aside h2
{
	background-color: #3F3C3C;
	color: #FFD700;
	text-align: center;
	padding: 0.5em;
}

#contact
{
	padding-bottom: 2em;
}

#contact p
{
	font-weight: bold;
}

#apropos
{
	padding-bottom: 2em;
	height: 550px;
}

#loisirs
{
	padding-bottom: 2em;
}

#photo img
{
	border-radius: 50%;
}

#photo
{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

#liste li
{
	list-style: none;
}

#liste
{
	display: flex;
	justify-content: space-between;
	padding-right: 5%;
	flex-wrap: wrap;
}

em
{
	color: #FFD700;
	font-style: normal;
}

h1
{
	font-weight: bold;
	font-size: 2.5em;
}

h3
{
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 0px;
}

i
{
	font-size: 35px;
}

#icone
{
	display: flex;
	justify-content: space-around;
}

h3 + hr
{
  border: 2px solid #FFD700;
  width: 150px;
  margin-left: 0px;
}


hr
{
  border: 2px solid #FFD700;
}

h2 i
{
	margin-right: 80px;
	color: #FFD700;
}

#formation td
{
	width: 500px;
}

#experience td
{
	width: 500px;
}

td i
{
	font-size: 10px;
	color: #FFD700;
	margin-right: 20px;
}

@media screen and (max-width: 1024px)
{
	.wrapper 
	{
  		display: grid;
  		grid-template-columns: repeat(3, 1fr);
  		grid-gap: 10px;
  		grid-auto-rows: minmax(100px, auto);
	}

	.un 
	{
  		grid-column: 1/4;
  		grid-row: 3/5;
	}

	.deux 
	{
  		grid-column: 1/4;
  		grid-row: 5/9;
	}

	.trois 
	{
	  	grid-column: 1/4;
	  	grid-row: 1/3;
	  	background-color: #FFD700
	}

	#apropos
	{
		height: auto;
	}

	#formation td
	{
		width: auto;
	}

	#experience td
	{
		width: auto;
	}

	
}