.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 2/4;
  grid-row: 1/2;
}

.two {
  grid-column: 2/4;
  grid-row: 2/6;
}

.three {
  grid-column: 1/2;
  grid-row: 1/6;
  background-color: #FFD700
}

body
{
	margin:0;
	padding:0;
	font-family: 'Trebuchet MS', Arial, sans-serif;
	color: #181818;
}

header
{
	padding: 1em;
}

section
{
	display: flex;
	flex-direction: column;
	padding: 1em 1em 0 2em;
}

aside
{
	height: auto;
}

aside p
{
	margin-left: 1em;
	margin-bottom: -1em;
}

aside h2
{
	background-color: #3F3C3C;
	color: #FFD700;
	text-align: center;
	padding: 0.5em;
}

#contact
{
	padding-bottom: 2em;
}

#contact p
{
	font-weight: bold;
}

#about
{
	padding-bottom: 2em;
	height: 360px;
}

#hobbies
{
	padding-bottom: 2em;
}

#photo img
{
	border-radius: 50%;
}

#photo
{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

#list li
{
	list-style: none;
}

#list ul
{
	width: 50%;
	padding-left: 0;
}

#list
{
	display: flex;
	flex-wrap: wrap;
}

em
{
	color: #FFD700;
	font-style: normal;
}

h1
{
	font-weight: bold;
	font-size: 2.5em;
}

h3
{
	font-size: 1.5em;
	font-weight: bold;
	font-style: normal;
	margin-bottom: 0;
}

i
{
	font-size: 35px;
}

#icon
{
	display: flex;
	justify-content: space-around;
}

h3 + hr
{
  	border: 2px solid #FFD700;
  	width: 150px;
  	margin-left: 0;
}


hr
{
 	 border: 2px solid #FFD700;
}

h2 i
{
	margin-right: 80px;
	color: #FFD700;
}

#listeducation, #listexperience
{
	display: flex;
	flex-direction: column;

}

#listeducation i, #listexperience i
{
	font-size: 15px;
	color: #FFD700;
	margin-right: 20px;
} 

#education1, #education2, #education3, #education4, #experience1, #experience2
{
	display: flex;
	height: auto;
}

.part1
{
	margin: 10px;
	min-width: 250px;
}

.part2
{
	width: auto;
	margin: 10px;
}

.part2 strong
{
	font-size: 1.3em;
}

@media screen and (max-width: 1024px)
{
	.wrapper 
	{
  		display: grid;
  		grid-template-columns: repeat(3, 1fr);
  		grid-gap: 10px;
  		grid-auto-rows: minmax(100px, auto);
	}

	.one 
	{
  		grid-column: 1/4;
  		grid-row: 1/2;
	}

	.two 
	{
  		grid-column: 1/4;
  		grid-row: 4/8;
	}

	.three 
	{
	  	grid-column: 1/4;
	  	grid-row: 2/4;
	  	background-color: #FFD700
	}

	#about
	{
		height: auto;
	}

	#list ul
	{
		width: auto;
		padding-left: 0;
		margin-left: 20%;
	}

	#education1, #education2, #education3, #education4, #experience1, #experience2
	{
		flex-direction: column;
		text-align: justify;
	}

	.part1
	{
		margin-top: 30px;
	}
	
	.part2 strong
	{
		font-size: 1.2em;
	}

	h2 i
	{
		margin-right: 20px;
		color: #FFD700;
	}

}